body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h1 {
  text-align: center;
  color: #007bff;
  margin-bottom: 20px;
  font-size: 24px;
}

.form-container {
  padding: 50px;
  margin-left: 10%;
  columns: 2;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px; /* Optional spacing between columns */
}

.inside-form {
  margin-right: 120px;
  display: flex; /* Makes elements within the div behave like rows */
  flex-direction: column; /* Stacks elements vertically */
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

label {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #333;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
  width: 400px;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

button {
  width: 420px;
  padding: 12px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
  transition: 0.3s ease-in;
}

#prediction-result {
  padding: 20px;
  margin-top: 10px;
  color: #333;
  font-size: 18px;
}

/* Removed redundant styles */
input[type="text"]:hover,
input[type="number"]:hover,
select:hover {
  border-color: #007bff;
}

h1 {
  grid-column: 1 / span 2;
}


button {
  padding: 10px 20px; /* Updated here */ 
}
